*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;

}
.header{
    min-height: 100vh; 
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(photos/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

    
    
}
nav img{
    width: 150px;

}

.nav-links{
    flex: 1;
    text-align: center;
    position: fixed;
  top: 6%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #2FAA9E;;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:  center;
}
.text-box h1{
    font-size: 62px;
    transition: 0.5s;
}
.text-box h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.text-box h2{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.progress-link{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.progress-link:hover{
    border: 1px solid #2FAA9E;
    background: #2FAA9E;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #2FAA9E;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;

    }
    .grid-container {
        display: grid;
        gap: 50px 100px;
      }
}





body{
    padding: 0 20px;
    background: #113944;
  }
  ::selection{
    background: rgba(23,162,184,0.3);
  }
  .wrapper{
    max-width: 1300px;
    width: 100%;
    margin: 80px auto;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);

  }
  /* .wrapper header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
  }*/
  .wrapper nav{
    position: relative;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .wrapper nav label{
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #000000;
    font-size: 17px;
    border-radius: 30px;
    margin: 0 5px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 12% 50%, 0% 0%);

    transition: all 0.3s ease;
  }
  .wrapper nav label:hover{
    background: rgba(135, 142, 143, 0.3);
    border-radius: 0px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 12% 50%, 0% 0%);

  }
  #ourstory:checked ~ nav label.ourstory,
  #page1:checked ~ nav label.page1,
  #page2:checked ~ nav label.page2,
  #page3:checked ~ nav label.page3,
    #page4:checked ~ nav label.page4{
    color: #fff;
  }
  nav label i{
    padding-right: 7px;
  }
  nav .slider{
    position: absolute;
    height: 70%;
    width: 20%;
    z-index: 0;
    border-radius: 0px;
    background: #2FAA9E;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 12% 50%, 0% 0%);
    transition: all 0.3s ease;
    
  }
  input[type="radio"]{
    display: none;
  }
  #ourstory:checked ~ nav .slider{
    left: 7%;
  }
  #page1:checked ~ nav .slider{
    left: 29%;
  }
  #page2:checked ~ nav .slider{
    left: 51%;
  }
  #page3:checked ~ nav .slider{
    left: 56.5%;
  }
  #page4:checked ~ nav .slider{
    left: 73%;
  }
  section .content{
    display: none;
    background: #fff;
  }
  #ourstory:checked ~ section .content-1,
  #page1:checked ~ section .content-2,
  #page2:checked ~ section .content-3,
  #page3:checked ~ section .content-4,
  #page4:checked ~ section .content-5{
    display: block;
  }
  section .content .title{
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin: 30px 0 10px 0;
  }
  section .content p{
  text-align: center;
  }
  .prototype1{
    display: block;
    width: 100%;
  }
.axis{
  float: left;
  clear: left;
}
.control_text{

  align-self: flex-end;

}
.design_overview{
  display: block;
  width: 100%;
}
.our_story{
  display: block;
  width: 100%;
}
.product-animation{
  overflow: hidden;
}
